body{
    color: rgb(0, 0, 0);
    background: rgb(17, 0, 255);
    margin: 0px;
    font-family: "Bungee Tint", sans-serif;
    margin-bottom: 200px;
}

header{
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.chamada{
    background: rgb(255, 255, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 30px;
}

p{
    font-size: 18px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
    
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 10px solid rgb(255, 166, 0);
}

.categoria h2{
    color: rgb(255, 217, 0);
}

.relacionados-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.relacionados-videos{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.relacionados-videos img{
    opacity: 0.5;
    height: 200px;
}

.relacionados-videos img:hover{
    opacity: 1.0;
    border: 10px solid rgb(255, 166, 0);
}

.outros{
    padding: 20px;
}